<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gacon.julien.mynews">

    <!-- permission required to automatically restart a
      repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controllers.utils.AppNotification"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controllers.activities.ResultActivity"
            android:parentActivityName=".controllers.activities.MainActivity"/>
        <activity android:name=".controllers.activities.SearchActivity"
            android:parentActivityName=".controllers.activities.MainActivity"/>
        <activity android:name=".controllers.activities.WebViewActivity"
            android:parentActivityName=".controllers.activities.MainActivity"/>
        <activity android:name=".controllers.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".controllers.utils.MyAlarmService"/>
    </application>

</manifest>